body{
    background-image: linear-gradient(to top right,black ,grey);
}
div{
    display: block;
}
/*
.navbar{
    background-color: #263238!important;
    color: #fff; 
}
*/
 .heading{
    margin-left: 45vw;
    transform: translateX(-50%);
    font-family: 'Bungee', cursive;
    font-size: 30px;
     font-weight: bolder;
}
@keyframes anime{
    from{
        background-color: yellow;
        top: 0px;
    }
    to{
        background-color: pink;
        top: 40px;
    }
}

.navdiv{
 animation-name: anime;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 20px;
    height: 20px;
    background-color: red;
/*    margin-left: 50px;*/
}
   
.box{
    color: white;
    background: #A66829;
/*    font-weight: bold;*/
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
/*    padding-left: 120px;*/
    margin-top: 20px;
   
}

.coloum{
    margin-left: 100px;
    margin-right: 100px;
}
.card2{
    color: black;
    background:;
    padding: 30px;
    margin-bottom: 20px;
}
.nav-bar a {
         text-decoration: none;
         color: black;
         display: block;
    margin-bottom: 20px;
      }
      .nav-bar > ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
      }
      .nav-bar > ul > li > a {
         padding: 10px;
         background: lightgrey;
      }
      
      .nav-bar li {
         float: left;
         width: 33.3%; 
         text-align: center;
         
      }
      .nav-bar li:last-child {
         border: none;
      }
.nav-bar .warnig{
    background: #FFEB46;
}
.nav-bar .success{
   background-color: #3CB371;
}
.nav-bar .danger{
    background-color: #DC143C;
}
h1{
    color: #FFEB46;
    margin-left: 50vw;
    transform: translateX(-50%);
    font-family: 'Bungee', cursive;
    font-size: 2rem
}
.doc{
    color: white;
}